<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Cambiar password</h1>
  <form id="changePasswordForm">
    <input type="password" id="inputChangePassword" placeholder="Nueva contraseña">
    <button>Cambiar contraseña</button>
  </form>

  <script>
    document.getElementById("changePasswordForm").addEventListener("submit", async (e) => {
      e.preventDefault();
      const newPassword = document.getElementById("inputChangePassword").value;
      const token = new URL(window.location.href).searchParams.get("token");

      try {
        const response = await fetch("/api/recuperarPassword/newPassword", {
          method: "POST",
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({newPassword, token})
        })
        if(response.status === 200) {
          alert("Password actualizada correctamente");
          window.location.href = "/"
        }
      } catch (error) {
        alert("Error al actualizar contraseña");
        window.location.href = "/api/auth/login"
      }
    })
  </script>
</body>
</html>