<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Cambiar contraseña</h1>
  <form id="formPassword">
    <input type="email" id="email"  placeholder="Ingresa tu email">
    <button>Recuperar contraseña</button>
  </form>
  <script>
    document.getElementById("formPassword").addEventListener("submit", async (e) => {
      e.preventDefault();
      const email = document.getElementById("email").value;

      try {
        const response = await fetch("/api/recuperarPassword", {
          method: "POST",
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({email})
        });

        if(response.status === 200) {
          const { message } = await response.json();
          alert(`revisa tu email: ${message}`);
          window.location.href = "/api/auth/login"
        }else {
          const { message } = await response.json();
          alert(message);
          window.location.href = "/api/auth/login"
        }
      } catch (error) {
        console.log(error);
      }
    })
  </script>
</body>
</html>